.navbar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar .nav-item {
  display: block;
  padding: 1rem;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  color: #eee;
  text-decoration: none;
}
.navbar .nav-item:hover,
.navbar .nav-item:active {
  background-color: rebeccapurple;
}

.navbar.sticky {
  position: fixed;
  background: inherit;
  border-radius: 0.3rem;
  box-shadow: rgb(38, 57, 77) 0px 10px 15px -5px;
  overflow: hidden;
}
